.container {
    display: flex;
    justify-content: space-around;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 380px;
}

h1 {
    text-align: center;
}

#result {
    font-size: 40px;
    display: flex;
    justify-content: center;
    height: 50px;

}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    margin-bottom: 20px;
    border-radius: 9%;
    height: 60px;
    width: 200px;
    font-size: 30px;
}

button:hover {
    /*border: 3px solid rgb(59, 185, 59);*/
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 0 0 3px rgb(59, 185, 59);;
}

#newgame {
    opacity: 0;
}

.newgamecontainer {
    display: flex;
    justify-content: center;
}

.playerscorecard,
.computerscorecard {
    margin-top: 200px;
    font-size: 36px;
}


